<h2 class="text-center m-4">Aeropuertos</h2>
<div class="container p-2">
    <div class="row">
        {{#each aeropuertos}}
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title ">Codigo IATA: {{ IATA }} </h5>
                        <p class="m-2">Nombre: {{ nombre }}</p>
                        <p class="m-2">Pais: {{ pais }}</p>
                        <p class="m-2">Ciudad: {{ ciudad }}</p>
                         <div class="card text-center">
                             <a href="/aeropuertos/pistas/{{ IATA }}" class="btn btn-secondary">Pistas</a>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>