<h2 class="text-center m-4">Vuelo</h2>
<div class="container p-2">
    <div class="row">
        {{#each datos}}
            <div class="col-md-4">
                <div class="card text-justify">
                    <div class="card-body">
                        <h5 class="card-title text-center ">Número de vuelo: {{ numeroVuelo }} </h5>
                        <p class="m-2">Fecha salida programada: {{ fechaSalida }} </p>
                        <p class="m-2">Fecha llegada programada: {{ fechaLlegada }} </p>
                        <p class="m-2">Origen: {{ Ruta.origen }} </p>
                        <p class="m-2">Destino: {{ Ruta.destino }} </p>
                        {{#each Ruta.Escalas}}
                            <p class="m-2">Escala: {{ pais }}, {{ ciudad }} </p>
                        {{else}}
                            <p class="m-2">Escala: No aplica </p>
                        {{/each}}
                        {{#if fechaRealSalida}}
                        <p class="m-2">Fecha real salida: {{ fechaRealSalida }} </p>
                        {{/if}}
                        {{#if fechaRealLlegada}}
                        <p class="m-2">Fecha real llegada: {{ fechaRealLlegada }} </p>
                        {{/if}}
                        <div class="card text-center">
                             <a href="/vuelos/comprar/{{ numeroVuelo }}" class="btn btn-secondary">Comprar</a>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>