<h2 class="text-center m-4">Vuelos registrados</h2>
<div class="container p-2">
    <div class="row">
        {{#each vuelos}}
            <div class="col-md-4">
                <div class="card text-justify">
                    <div class="card-body">
                        <h5 class="card-title text-center ">Número de vuelo: {{ numeroVuelo }} </h5>
                        <p class="m-2">Estado: {{ estado }}</p>
                        <p class="m-2">Fecha salida programada: {{ fechaSalida }} </p>
                        <p class="m-2">Fecha llegada programada: {{ fechaLlegada }} </p>
                        {{#if matriculaAvion}}
                        <p class="m-2">Matricula avión asignado: {{ matriculaAvion }}</p>
                         {{else}}
                        <p class="m-2">Matricula Avión asignado: No asignado</p>
                        {{/if}}
                        {{#if fechaRealSalida}}
                        <p class="m-2">Fecha real salida: {{ fechaRealSalida }} </p>
                        {{/if}}
                        {{#if fechaRealLlegada}}
                        <p class="m-2">Fecha real llegada: {{ fechaRealLlegada }} </p>
                        {{/if}}
                        <div class="card text-center">
                            <a href="/aviones/delete/{{ numeroVuelo }}" class="btn btn-danger"> Editar vuelo</a>
                        </div>
                    </div>
                </div>
            </div>
        {{else}}
            <div class="com-me 4 mx-auto">
                <div class="card card-body text-center">
                    <p>No hay vuelos registrados aún.</p>
                    <a href="/vuelos/add">Create one!</a>
                </div>
            </div>
        {{/each}}
    </div>
</div>