<h2 class="text-center m-4">Aviones registrados</h2>
<div class="container p-2">
    <div class="row">
        {{#each aviones}}
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title ">Número de avión: {{ numero_avion }} </h5>
                        <p class="m-2">Fabricante: {{ fabricante }}</p>
                        <p class="m-2">Modelo: {{ modelo }}</p>
                        <p class="m-2">Velocidad Máxima: {{ velocidad_max }}</p>
                        <a href="/aviones/delete/{{numero_avion}}" class="btn btn-danger"> Eliminar avión</a>
                        <a href="/aviones/edit/{{numero_avion}}" class="btn btn-secondary"> Editar avión</a>
                    </div>
                </div>
            </div>
        {{else}}
            <div class="com-me 4 mx-auto">
                <div class="card card-body text-center">
                    <p>No hay aviones registrados aún.</p>
                    <a href="/aviones/add">Create one!</a>
                </div>
            </div>
        {{/each}}
    </div>
</div>