<div class="container p-4 text-center">
    <h1>Editar datos ruta</h1>
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/aviones/edit/{{ ruta.nRuta }}" method="POST">
                        <p>Número de Ruta</p>
                        <div class="form-group">
                            <input type="number" value="{{ ruta.nRuta }}" class="form-control" name="nRuta" disabled>
                        </div>
                        <p>Origen</p>
                        <div class="form-group">
                            <input type="text" value="{{ruta.origen}}" class="form-control" name="origen">
                        </div>
                        <p>destino</p>
                        <div class="form-group">
                            <input type="text" value="{{ruta.destino}}" class="form-control" name="destino">
                        </div>
                        <p>Precio Base</p>
                         <div class="form-group">
                            <input type="number" value="{{ruta.pBase}}" class="form-control" name="pBase">
                        </div>
                        <p>Escala</p>
                        <div class="form-group">
                            <input type="number" value="{{ruta.escala}}" class="form-control" name="escala">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block"> Actualizar </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>