<h2 class="text-center m-4">Rutas registradas</h2>
<div class="container p-2">
    <div class="row">
        {{#each rutas}}
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title ">Número de ruta: {{ numeroRuta }} </h5>
                        <p class="m-2">Destino: {{ destino }}</p>
                        <p class="m-2">Origen: {{ origen }}</p>
                        <p class="m-2">Distancia: {{ dist }}</p>
                        <p class="m-2">Precio base: {{ pBase }}</p>
                        <p class="m-2">Escala: {{ escala }}</p>
                        <a href="/aviones/delete/{{ numeroVuelo }}" class="btn btn-danger"> Eliminar ruta</a>
                        <a href="/aviones/edit/{{ numeroVuelo }}" class="btn btn-secondary"> Editar ruta</a>
                    </div>
                </div>
            </div>
        {{else}}
            <div class="com-me 4 mx-auto">
                <div class="card card-body text-center">
                    <p>No hay vuelos registrados aún.</p>
                    <a href="/vuelos/add">Create one!</a>
                </div>
            </div>
        {{/each}}
    </div>
</div>