<h2 class="text-center m-4">Rutas registradas</h2>
<div class="container p-2">
    <div class="row">
        {{#each rutas}}
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title ">Número de ruta: {{ nRuta }} </h5>
                        <p class="m-2">Origen: {{ origen }}</p>
                        <p class="m-2">Destino: {{ destino }}</p>
                        <p class="m-2">Distancia: {{ dist }} (Km) </p>
                        <p class="m-2">Precio base: {{ pBase }} $</p>
                        {{#each Escalas}}
                            <p class="m-2">Escala: {{ pais }}, {{ ciudad }} </p>
                        {{else}}
                            <p class="m-2">Escala: No aplica </p>
                        {{/each}}
                        <a href="/rutas/delete/{{ nRuta }}" class="btn btn-danger"> Eliminar ruta</a>
                        <a href="/rutas/edit/{{ nRuta }}" class="btn btn-secondary"> Editar ruta</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>